@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
	font-family: 'Inconsolata', monospace;
}

input {
	height: 2em;
	padding: 2px;
	padding-top: 2px;
   
}	

select {
	height: 2em;
	padding: 2px;
	padding-top: 2px;
   
}	


button {
	height: 3em;
}

.visibleSettings {
	font-size: 1.2em;
}

.hideSettings {
    visibility: hidden;
    }

body {
	background-color: #dae1ed;

}

#Cards div {
	border-radius: 10px;
	width: 5em;
	height: 5em;
	float: left;
	margin: 1%;
	font-size: 1em;
	
}



.taken {
	visibility: hidden;
/*	opacity: 0.0; 
	background-color: #e0e0eb;
	text-align: center;*/
}

.hidden {
	text-indent: 100%;
	white-space: nowrap;
    overflow: hidden;
	background-color: #b2eeff; 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	/*color: #b2eeff;
	color: black;*/
}

.hidden:hover {
	cursor: -webkit-grab; 
	cursor: grab;
	text-indent: 100%;
	white-space: nowrap;
    overflow: hidden;
	background-color: #9dcfdd; 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.19), 0 6px 20px 0 rgba(0,0,0,0.21);
	/*color: #9dcfdd;
	color: black;*/
}

.open {
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
	
}

#Players {
	clear: left;
}

#Players div {

	color: white;
	float: left;
	background-color: #32324e;
	width: 20em;
	height: 3em;	
	padding-left: 1em;
}

@media screen and (min-width: 48em) {
#Cards div {
	border-radius: 15px;
	width: 7em;
	height: 7em;
}

@media screen and (min-width: 64em) {
	#Cards div {
	border-radius: 20px;
	width: 10em;
	height: 10em;
}

