* {
}

#Schwein {
    width: 300px;
    display: none;
     }
     
#Dirt { 
	width: 10px;
   display: none;
     }
     
     
#Stone { 
   display: none;
     }
     
#Straw { 
   display: none;
     }
#Fly { 

   display: none;
     }
#Background { 
   display: none;
     }